@model Microsoft.AspNetCore.Identity.EntityFrameworkCore.IdentityRole
@{
    ViewBag.Title = "Create";
}

<h2>Create Role</h2>
@Html.ActionLink("List Roles", "Index") | @Html.ActionLink("Manage User Role", "ManageUserRoles")
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div>
        Role name
    </div>
    @Html.EditorFor(model => model.Name)
    <input type="submit" value="Save" />
}